.bump {
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.profile-card {
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 5px;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: #f2f2f2;
  //background: #2B2937;
  overflow: hidden;
}
.profile-card h4 {
  font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 30px;
  line-height: 26px;
}
.profile-card h4 span {
  font-size: 20px;
  color: #4d4d4d;
  //color: #8C91A7;
  display: block;
}
.profile-card img {
  border-radius: 50%;
  border: 2px solid #4d4d4d;
}
.profile-card .button-group {
  width: 101%;
}
.profile-card .button-group .button {
  margin-bottom: 0;
  border-top: 1px solid #2B2937;
  border-left: none;
  border-right: 1px solid #2B2937;
  border-bottom: none;
  //background-color: #2e3451;
  //background-color: #394165;
  height: 80px;
  padding-top: 0.75rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: 20px;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  color: #cce7ff;
  //color: #8C91A7;
  box-shadow: none;
}
.profile-card .button-group .button span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.profile-card p {
  font-size: 16px;
  margin-bottom: 0;
  //color: #8C91A7;
  color: #4d4d4d;
}
.profile-card i {
  font-size: 26px;
  vertical-align: middle;
  padding-right: 5px;
  color: #394165;
}
.profile-card a #edit-link {
  color: #373f62; 
}

.left-col {
	margin-top: 1rem;
	margin-left: 0;
	margin-right: 0;
}

.lef-col-container {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .profile-card img {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .profile-card h4, .profile-card p {
    text-align: center;
  }
  .profile-card .button-group .button {
    font-size: 14px;
  }
  .profile-card .button-group .button span {
    font-size: 20px;
  }
}

#avatar {
	width:10em;
	height:10em;
	line-height:10em;
}